.container-fluid{
    color: #333;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.title{
    font-family:"Berlin Sans FB", sans-serif;
    font-size: 70px;
    margin-top: 180px;
    margin-left: 100px;
    margin-bottom: 80px;
    font-weight: lighter;
}


.top-icon{
    position: absolute;
    z-index: 100;
    top:0;
    left: 100px;
}
.top-icon a{
    color:black;
}
.top-icon-blog{
    text-decoration: none;
    font-family: Cooper,sans-serif;
    font-size: 30px;
    margin-right:10px;
}
.top-icon img{
    width:50px;
}
.top-logo{
    position: absolute;
    top:200px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 100;
}
.top-logo h1{
    font-size:60px ;
    font-family: "Bauhaus 93",sans-serif;
    line-height: 60px;
}
.top-logo p{
    font-size: 30px;
    text-align: right;
    font-family: "Arial Rounded MT",sans-serif;
}
.top-slider{
    position: relative;
}
.top-slider img{
    object-fit: cover;
    height:600px;
}



.name{
    font-size: 30px;
    font-family:"BIZ UDPゴシック",sans-serif;
}
.profile-colr h2{
    
    text-align: right;
    font-weight: bold;
}
.profile-colr p{
    line-height: 30px;
    margin-left:30px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
.profile-colr{
    background-color:#eeeeee;
}

div .profile-row{
    width:90%;
    margin:0 auto;
}
.profile-row img{
    width:100%;
    height:500px;
    object-fit: cover;
    object-position:top;
}
.profile-colrr{
background-color:#eeeeee;
font-size: 18px;
padding-top: 40px;
}
.profile-colrr p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.profile-colrr h2{
    font-family: "Arial Rounded MT",sans-serif;
    color: black;
}
.profile-colrr a{
    text-decoration: none;
}



.pr{
    background-color: #eeeeee;
}
div .pr-endst{
margin: 70px 0;
}
.pr-content h5{
    font-size: 25px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bolder;
}
div .pr-content{
    padding: 0 30px;
    width:80%;
    margin:0 auto;
}
.pr-content p{
    font-size: 20px;
}
.pr-content .col-6{
    padding:0 100px 0 40px;
}


.one-time img{
width:300px;
height:300px;
object-fit: contain;
}
.one-time h3{
    font-family: Cooper,sans-serif;
    font-size: 40px;
}
.one-time p{
    font-size: 20px;
}



div .how-row  h4{
    color: #333;
    text-decoration: none;
    font-family:"Arial Rounded MT", sans-serif;
    font-size: 40px;
    display:block;
    text-align: center;
    margin-top: 20px;
}
div .how-row p{
    padding: 0 50px;
    font-size: 22px;
}
div .how-row img{
    display:block;
    margin: 0 auto;
    width:60%;
}
.how-row a:hover{
    color: #333;
}
