.container-fluid{
    color: #333;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.title{
    font-family:"Berlin Sans FB", sans-serif;
    font-size: 70px;
    margin-top: 180px;
    margin-left: 100px;
    margin-bottom: 80px;
    font-weight: lighter;
}


.top-icon{
    position: absolute;
    z-index: 100;
    top:0;
    left: 100px;
}
.top-icon a{
    color:black;
    transition:all 0.3s;
}
.top-icon-blog{
    text-decoration: none;
    font-family: Cooper,sans-serif;
    font-size: 36px;
    margin-right:10px;
}
.top-icon img{
    width:90px;
    height:130px;
}
.top-logo{
    position: absolute;
    top:200px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 100;
}
.top-logo h1{
    font-size:60px ;
    font-family: "Bauhaus 93",sans-serif;
    line-height: 60px;
}
.top-logo p{
    font-size: 30px;
    text-align: right;
    font-family: "Arial Rounded MT",sans-serif;
}
.top-slider{
    position: relative;
}
.top-slider img{
    object-fit: cover;
    height:600px;
}



.name{
    font-size: 40px;
    font-family:"BIZ UDPゴシック",sans-serif;
    font-weight: bold;
}
.profile-colr h2{
    
    text-align: right;
    font-weight: bold;
}
.profile-colr p{
    line-height: 30px;
    margin-left:30px;
    font-size: 20px;
    
}
.profile-colr{
    background-color:#eeeeee;
}

div .profile-row{
    width:95%;
    margin: 0 auto !important;
    height:700px;
}
.profile-row img{
    padding-right: 10px;
    width:100%;
    height:700px;
    object-fit: cover;
    object-position:top;
}
.profile-colrr{
background-color:#eeeeee;
font-size: 18px;
padding-top: 40px;
}

.profile-colrr h2{
    font-family: "Arial Rounded MT",sans-serif;
    color: black;
    display:inline-block;
    
}
.profile-colrr a{
    text-decoration: none;
}
.profile-colrr a :hover{
    text-shadow: 3px 2px 3px gray;
    transition: all 0.5s;

}

.profile-colrr p{
    font-size: 20px;
}



.pr{
    background-color: #eeeeee;
}
.pr-title{
    padding-top: 30px;
}
.pr-content h5{
    font-size: 25px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bolder;
}
div .pr-content{
    width:90%;
    margin: 0 auto;
}
.pr-content p{
    font-size: 20px;
}
div .pr-content .col-xs-12{
    padding:0 100px;
}


.two-time div{
    display:none;
}

.one-time img{
width: 80%;
height:350px;
object-fit: contain;
margin:0 auto;
}
.one-time h3{
    font-family: Cooper,sans-serif;
    font-size: 50px;
    text-align:center;
}
.one-time p{
    font-size: 20px;
    text-align:center;
    padding: 0 20px;
}
.one-time div{
    height:600px;
    margin:0px 20px 20px 20px;
    border-radius: 50px;
}


.two-time img{
    width: 80%;
    height:350px;
    object-fit: contain;
    margin:0 auto;
    }
    .two-time h3{
        font-family: Cooper,sans-serif;
        font-size: 50px;
        text-align:center;
    }
    .two-time p{
        font-size: 20px;
        text-align:center;
        padding: 0 20px;
    }
    .two-time div{
        height:600px;
        margin:0px 20px 20px 20px;
        border-radius: 50px;
    }



div .how-row  h4{
    color: #333;
    text-decoration: none;
    font-family:"Arial Rounded MT", sans-serif;
    font-size: 40px;
    display:block;
    text-align: center;
    margin-top: 20px;
}
div .how-row p{
    padding: 0 50px;
    font-size: 22px;
}
div .how-row img{
    display:block;
    margin: 0 auto;
    width:60%;
}
.how-row a:hover{
    color: #333;
}
